.header-action-dropdown {
    .main-nav__dropdown {
        margin-top: 2px !important;
        text-align: left !important;

        &.left {
            left: 0 !important;
            right: unset;
        }

        &.right {
            left: unset;
            right: 0 !important;
        }
    }
}
